.header-wrap {
    display: flex;
    justify-content: space-between;
}

.main-menu-lisi {
    display: flex;
}

.right-wrap {
    display: flex;
}

.main-menu-lisi li ul {
    display: flex;
}

.sub-menu {
    display: none;
}