.header-wrap {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
}

.main-menu-lisi {
    display: flex;
    gap: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.right-wrap {
    display: flex;
}

.main-menu-lisi li ul {
    display: flex;
}

.sub-menu {
    display: none;
}

.state {
    display: none;
}

.img5 {
    width: 40px;
}