header {
    .inner {
        display: flex;
        justify-content: space-between;
        background-color: rgba(74, 168, 168, 0.447);
        margin: 0 auto;
        line-height: 1;

        .logo {
            a {
                padding: 20px;
                background-color: rgba(170, 255, 0, 0.356);
            }
        }

        .tab-wrap {
            .main-menu-wrap {
                display: flex;
                font-size: 20px;
                background-color: rgba(255, 0, 0, 0.356);
                gap: 30px;
                padding: 20px;
            }

            .sub-menu-wrap {
                background-color: rgb(210, 125, 21);
                position: relative;
                opacity: 0;

                .submenu2.active {
                    position: absolute;
                    z-index: 100;
                    opacity: 1;
                }
            }
        }

        .gnb-list {
            display: flex;

            .branch-btn {
                >a {
                    display: block;
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 50px;
                    line-height: 1em;
                }
            }
        }
    }
}